<footer>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div>
                    <ul>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'news' }">Privacidad</a>
                        </li>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'news' }">Condiciones</a>
                        </li>
                        <li>
                            <a routerLink="/products" [queryParams]="{ type: 'news' }">Preferencias</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- <div class="col-xs-12 col-md-1">
                <div>
                    <ul>
                        <li><a routerLink="/about-us">Condiciones</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-1">
                <div>
                    <ul>
                        <li><a routerLink="/about-us">Preferencias</a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-xs-12 col-md-3">

            </div>
            <div class="col-xs-12 col-md-3">
                <div class="box">
                    <img class="responsive" src="../assets/images/logo.png" alt="nature">
                </div>
            </div>
        </div>
    </div>
</footer>