.sidenav-container {
    height: 100%;
    /* color: tomato; */
}

.sidenav {
    width: 200px;
}

.sidenav .mat-toolbar {
    background: inherit;
    /* c: tomato; */
}

.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
    background: linear-gradient(to right, #005c8f, #003d60);
}


/* .hidden {
    display: none;
} */

.mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
}

.spacer {
    flex: 1 1 auto;
}

.responsive {
    width: 100%;
    max-width: 120px;
    height: auto;
    margin-top: 15px;
}

.navBarEfra {
    display: none;
    font-family: "Century Gothic";
    /* margin-top: 5px; */
}

.mainTitle {
    font-family: "Century Gothic";
    /* flex: 1 1 auto;
    text-align: center;
    margin: 0 auto; */
}

@media (min-width: 506px) {
    .sidenav {
        display: none;
    }
    .menuIcon {
        display: none;
    }
    .navBarEfra {
        display: block;
    }
}

@media (max-width: 505px) {
    .mainTitle {
        /* font-family: "Century Gothic";
        flex: 1 1 auto;
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-left: auto;
        margin-right: auto; */
    }
    /* .textCenter {
        text-align: center;
    } */
}


/* @media (min-width: 410px) {
    .navBarEfra {
        display: yes;
    }
} */