<!-- HEADER -->
<app-main-nav>
    <div class="content">
        <div class="img">
            <img class="logo" src="../assets/images/logo.png" alt="">
        </div>
        <div class="input">
            <img src="../assets/images/lupa.png" alt="">
            <input class="search" type="text" placeholder="buscar">
        </div>
        <div class="button-search">
            <button class="search">Buscar</button>
        </div>
    </div>

    <!-- CONTENT -->
    <div class="main">

        <div class="result">
            <div class="resumed">
                <div class="res-img"><img src="../assets/images/favorable.png" alt=""></div>
                <div class="info">
                    <h3>Nombre de la empresa | <span class="res">Favorable</span></h3>
                    <h3><a href="#">https://www.google.com/</a></h3>

                </div>
            </div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio consequuntur doloribus earum temporibus est, illo aperiam adipisci sed sint? Earum libero sint iste inventore in, repudiandae accusantium illo repellendus ab.
        </div>

        <div class="result">
            <div class="resumed">
                <div class="res-img"><img src="../assets/images/presunto.png" alt=""></div>
                <div class="info">
                    <h3 class="name">Nombre de la empresa | <span class="res">presunto</span></h3>
                    <h3><a href="#">https://www.google.com/</a></h3>

                </div>
            </div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio consequuntur doloribus earum temporibus est, illo aperiam adipisci sed sint? Earum libero sint iste inventore in, repudiandae accusantium illo repellendus ab.
        </div>

        <div class="result">
            <div class="resumed">
                <div class="res-img"><img src="../assets/images/desvirtuado.png" alt=""></div>
                <div class="info">
                    <h3>Nombre de la empresa | <span class="res">desvirtuado</span></h3>
                    <h3><a href="#">https://www.google.com/</a></h3>

                </div>
            </div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio consequuntur doloribus earum temporibus est, illo aperiam adipisci sed sint? Earum libero sint iste inventore in, repudiandae accusantium illo repellendus ab.
        </div>

        <div class="result">
            <div class="resumed">
                <div class="res-img"><img src="../assets/images/definitivo.png" alt=""></div>
                <div class="info">
                    <h3>Nombre de la empresa | <span class="res">definitivo</span></h3>
                    <h3><a href="#">https://www.google.com/</a></h3>

                </div>
            </div>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Distinctio consequuntur doloribus earum temporibus est, illo aperiam adipisci sed sint? Earum libero sint iste inventore in, repudiandae accusantium illo repellendus ab.
        </div>
    </div>

    <div class="details">
        <div class="situation">
            <img src="../assets/images/presunto.png" alt="" class="situation">
            <h3 class="uppercase">PRESUNTO</h3>
            <button class="close uppercase">⬅ Regresar</button>
        </div>
        <div class="details-info">
            <h3 class="name">Nombre del contribuyente</h3>
            <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Alias nesciunt ad voluptate quas obcaecati, voluptatem natus, asperiores praesentium perspiciatis consequatur aliquid! Sapiente, repudiandae. Dolor dolorem iure animi aperiam eum fugiat.Minima
                delectus veniam repudiandae dicta error aperiam quidem, cumque eos quaerat, iusto fugiat praesentium culpa esse, blanditiis expedita et totam in. Excepturi, provident. Non unde explicabo aut fugiat itaque sed.
            </p>

            <div class="more-info">
                <h3 class="uppercase">rfc <span class="rfc">MELM8305281H0</span></h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus sint velit corrupti rerum quasi voluptatem perspiciatis quas facere quis vel.</p>
            </div>

            <button class="uppercase">Obtener consultoría</button>
        </div>
    </div>

    <!-- FOOTER -->
    <footer>
        <a href="">Privacidad</a>
        <a href="">Condiciones</a>
        <a href="">Acerca de</a>
    </footer>
    <script src="main.js"></script>
</app-main-nav>